---
layout: layouts/home.njk
fa-icon: 'fa-home'
eleventyNavigation:
  key: Home
  order: 1
  url: /#
---
<header class="w3-container w3-padding-32 w3-center w3-black" id="home">
 <h1 class="w3-jumbo"><span class="w3-hide-small">imagination </span>running wild</h1>
  <p>Computer Science and Economics student, Certified Insurance Agent</p>
  <img src="{{ 'img/w3images/man_smoke.jpg' | url }}" alt="boy" class="w3-image" width="992" height="1108">
</header>


<!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">Bill Ochieng</h2>
    <hr style="width:200px" class="w3-opacity">
    <p> Hi, thank you for visiting my site. I am a programming enthusiast and an entrepreneur with extensive experience leading teams in network administration, development and design.
     Offer strong technical acumen with diverse abilities in virtual and database environments. 
     A proven leader of cross-functional teams to ensure quality and efficiency through automation and best practices.
     I am a junior student in Allegheny College. I am studying Computer Science not only that but also Economics.
     I believe this is a good combination because it can propel me into the industry or outside world and be able to use my gained skills to make the world a better place. If you have any questions feel free to reach out on [LinkedIn, Github, or by email](#contact)!
    </p>

  <!-- My skills Section -->
    <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="My Skills">
    <h3 class="w3-padding-16 w3-text-light-grey">My Skills</h3>
    <div class="grid-container" style = "display: grid; grid-template-columns: 50% auto;grid-column-gap: 2%; grid-row-gap: 2%;">
    <div>
    <p class="w3-wide">Operating Systems</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:75%"></div>
    </div>
    </div>
    <div>
    <p class="w3-wide">Python</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:85%"></div>
    </div>
    </div>
    <p class="w3-wide">Golang</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:5%"></div>
    </div>
    </div>
    <p class="w3-wide">C</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:85%"></div>
    </div>
    <p class="w3-wide">Git</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:85%"></div>
    </div>
    <p class="w3-wide">Mk Docs</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:85%"></div>
    </div>
    <p class="w3-wide">Web Design & Web Development</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:85%"></div>
    </div>
    <p class="w3-wide">html</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:85%"></div>
    </div>
    <p class="w3-wide">Docker</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:85%"></div>
    </div>
    <p class="w3-wide">css</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:85%"></div>
    </div>
    <p class="w3-wide">GitHub Actions and Interactions</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:85%"></div>
    </div>
    <p class="w3-wide">PreSonus sound</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:85%"></div>
    </div> 
    <p class="w3-wide">Great Communication skills</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:85%"></div>
    </div>
    <p class="w3-wide">Marketing & Sales</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:85%"></div>
    </div>
    <p class="w3-wide">Logical Thinking & Problem Solving</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:80%"></div>
    </div></div><br>
    
    <!-- Projects Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="projects">
    <h2 class="w3-text-light-grey">Projects</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>Project 1</p>
    <a href="{{ '/posts/' | url }}">the archive</a>
    <p>Project 2</p>
    <p><a href="https://github.com/BillOchieng/portfolio-bill">project att</a></p>
    <p>Project 3</p>
    <a href="{{ '/posts/' | url }}">the archive</a>
    <p>Project 4</p>
    <a href="{{ '/posts/' | url }}">the archive</a>
    </div><br>

    <!-- Softwares & Interfaces Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="projects">
    <h2 class="w3-text-light-grey">Softwares & Interfaces</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>DockerHub</p>
    <p>VsCode</p>
    <p>Figma</p>
    <p>Excalidraw</p>
    <p>Microsoft Excel</p>
    <p>Microsoft powerpoint</p>
    <p>Mac OS</p>
    <p>Windows OS</p>
    <p>Linux OS</p>
    <p>Microsoft Word</p>
    <p>GitHub</p>
    <p>GitHub Actions & Interactions</p>
    <p>Github Workflow</p>
    </div><br>

<!-- work experience Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="projects">
    <h2 class="w3-text-light-grey">Work experience</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>Aflac- Sales Agent</p>
    <p>Media Manager- Allegheny Chess Club</p>
    <p>PA- Joyrowl enterprices</p>
    <p>Residents advisor</p>b                          
    <p>Teaching Assistant</p>45fbb
    </div><br>



    <button class="w3-button w3-light-grey w3-padding-large w3-section" onclick="window.open('{{ 'files/resume.pdf' | url}}')">
      <i class="fa fa-download"></i> Download Resume </button>
    
   <!-- End Portfolio Section -->
  
<!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-light-grey">Contact Me</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Solon, Ohio</p>
      <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +814-853-7450</p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: ochieng01@allegheny.edu</p>
    </div><br>
    <p>Lets get in touch. Send me a message:</p>

    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
      <p>
        <button class="w3-button w3-light-grey w3-padding-large" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form>
  <!-- End Contact Section -->
  </div>


