---
layout: layouts/home.njk
fa-icon: 'fa-home'
eleventyNavigation:
  key: Home
  order: 1
  url: /#
---
<style>
.w3-container:before, w3-container:after {
  content: unset;
}

.@media only screen and (max-width: 600px) {
  header {
    display:block;
  }
}
</style>

<header class="w3-container w3-padding-32 w3-center w3-black" id="home">
 <h1 class="w3-jumbo"><span class="w3-hide-small">Imagination </span>running wild</h1>
  <p>Computer Science and Economics student, Certified Insurance Agent.</p>
  <img src="{{ 'img/w3images/man_smoke.jpg' | url }}" alt="boy" class="w3-image" width="992" height="1108">
</header>

<!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">Bill Ochieng</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>Hi, thank you for visiting my site. My name is Bill Ochieng and I am currently a third-year student at Allegheny College double majoring in Computer Science and Economics.
    I live in Solon, Ohio but I'm originally from Nairobi, Kenya. At Allegheny College I am a Resident Advisor where my job is to help create a supportive and safe environment for students living in residence halls and other student housing. 
    I enjoy playing chess and I'm also the media manager for Allegheny College Chess Club. In Ohio, I am a certified health insurance agent with Aflac Inc. I have a yellow belt in Tang Soo Do!
    </p>

  <!-- My skills Section -->
    <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="Technical Skills">
    <h3 class="w3-padding-16 w3-text-light-grey">Technical Skills</h3>
    <div class="grid-container" style = "display: grid; grid-template-columns: auto auto auto;grid-column-gap: 2%; grid-row-gap: 2%;">
    <!-- Box -->
    <div>
      <p class="w3-wide">Operating Systems</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:75%"></div>
      </div>
    </div>
    <!-- Box -->
    
    <!-- Box -->
    <div>
      <p class="w3-wide">Python</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:85%"></div>
      </div>
    </div>
    <!-- Box -->
    
    <!-- Box -->
    <div>
      <p class="w3-wide">GitHub</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:94%"></div>
      </div>
    </div>
    <!-- Box -->

    <!-- Box -->
    <div>
      <p class="w3-wide">Golang</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:80%"></div>
      </div>
    </div>
    <!-- Box -->
    
    <!-- Box -->
    <div>
      <p class="w3-wide">C</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:80%"></div>
      </div>
    </div>
    <!-- Box -->
    <div>
      <p class="w3-wide">Git Flow</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:95%"></div>
      </div>
    </div>

    <!-- Box -->
    <div>
      <p class="w3-wide">MkDocs</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:85%"></div>
      </div>
    </div>
    <!-- Box -->

    <!-- Box -->
    <div>
      <p class="w3-wide">Web Dev & Web Design</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:85%"></div>
      </div>
    </div>
    <!-- Box -->
    
    <!-- Box -->
    <div>
      <p class="w3-wide">HTML</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:80%"></div>
      </div>
    </div>
    <!-- Box -->
    <!-- Box -->
    <div>
      <p class="w3-wide">Docker</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:85%"></div>
      </div>
    </div>
    <!-- Box -->
    <!-- Box -->
    <div>
      <p class="w3-wide">Css</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:80%"></div>
      </div>
    </div>
    <!-- Box -->
    <!-- Box -->
    <div>
      <p class="w3-wide">Data Management/Analyses</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:80%"></div>
      </div>
    </div>
    <!-- Box -->
    <!-- Box -->
    <div>
      <p class="w3-wide">Technical Writing</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:95%"></div>
      </div>
    </div>
    <!-- Box -->
    <!-- Box -->
    <div>
      <p class="w3-wide">StudioOne-PreSonus</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:85%"></div>
      </div>
    </div>
    <!-- Box -->
    
    <!-- Box -->
    <div>
    <p class="w3-wide">Marketing & Sales</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:85%"></div>
    </div></div></div><br>

    <!-- Projects Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="projects">
    <h2 class="w3-text-light-grey"> Notable Projects</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>My Personal Portfolio</p>
    <p><a href="https://github.com/BillOchieng/billochieng.github.io">Hosted by GitHub</a></p><br>
    <p>Command Shell</p>
    <p><a href="https://github.com/allegheny-college-cmpsc-400-fall-2022/computer-science-400-fall-2022-p3-command-shell-BillOchieng.git">Simplified Command Shell featuring commands such as cd, ls, pwd, and both quit and exit</a></p><br>
    <p>Sheetshuttle API Documentation</p>
    <p><a href="https://github.com/GatorEducator/SheetShuttle/tree/Team4">Documented with MkDocs</a></p><br>
    <p>Simon Says Game</p>
    <p><a href="https://github.com/BillOchieng/Simon-Says-Game-Project">Beep Boop; Beep Boop; BRR BRR BRR</a></p><br>
    <p>Golf Ball Positioning</p>
    <p><a href="https://github.com/BillOchieng/positioning-by-playing-golf.git">Moving ball into hole</a></p><br>
    <p>Automated-Grading-Plugin</p>
    <p><a href="https://github.com/CMPSC-203-Allegheny-College-Fall-2022/automated-grading-plugin.git">API Plugin ~ Software Engineering</a></p>
    </div>

    <!-- Interfaces Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="Softwares">
    <h2 class="w3-text-light-grey">Interfaces & Softwares</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>Heroku</p>
    <p>Visual Studio Code</p>
    <p>Figma</p>
    <p>Arduino</p>
    <p>Hugo</p>
    <p>Excalidraw</p>
    <p>Microsoft Excel</p>
    <p>Microsoft PowerPoint</p>
    <p>Bash<p>
    <p>Jupyter<p>
    </div>
  
  <!-- work experience Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="work experience">
  <h2 class="w3-text-light-grey">Work Experience</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>Certified Health Insurance Sales Agent ~ Aflac Inc</p>
    <p>Media Manager ~ Allegheny College Chess Club</p>
    <p>Personal Assistant ~ Joyrowl enterprices</p>
    <p>Residents Advisor ~ Allegheny College</p>                         
    <p>Teaching Assistant ~ Volunteer at local school</p>
    <p>Building Monitor ~ Allegheny College</p>
    </div>

    <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="Relevant Coursework">
    <h2 class="w3-text-light-grey">Relevant Courses</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>Operating Systems</p>
    <p>Software Engineering</p>
    <p>Web Development</p>
    <p>Software Innovation</p>
    <p>Data Abstraction</p>
    <p>Discrete Structures<p>
    <p>Finance 1<p>
    <p>Statistics 1<p>
    <p>Macro&Micro Economics<p>
    <p>Marketing<p>
    </div>
  
<!-- work experience Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="interpersonal skills">
  <h2 class="w3-text-light-grey">Interpersonal Skills</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>Leadership</p>
    <p>Communication</p>
    <p>Active Listening</p>
    <p>Empathy</p>
    <p>Great Attitude</p>                         
    <p>Showing Respect</p>
    </div><br>
    <button class="w3-button w3-light-grey w3-padding-large w3-section" onclick="window.open('{{ 'files/resume.pdf' | url}}')">
      <i class="fa fa-download"></i> Download Resume </button>
   <!-- End Portfolio Section -->
  
<!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-light-grey">Contact Me</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Solon, Ohio</p>
      <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +814-853-7450</p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: ochieng01@allegheny.edu</p>
    </div><br>
    <p>Lets get in touch. Send me a message:</p>

    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
      <p>
        <button class="w3-button w3-light-grey w3-padding-large" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form>
  <!-- End Contact Section -->
  </div>


